@font-face
  font-family: Gilroy-SemiBold
  src: url("fonts/gilroy-semibold.woff")
  src: url("fonts/gilroy-semibold.woff2")
  font-weight: 600
  font-style: normal
@font-face
  font-family: Gilroy
  src: url("fonts/gilroy-medium.woff")
  src: url("fonts/gilroy-medium.woff2")
  src: url("fonts/gilroy-medium.ttf")
  font-weight: 500
  font-style: normal

$black: #000
$accent-blue: #496ADC


body
  padding: 0
  margin: 0
  font-family: Gilroy

h1
  font-weight: 600
  font-size: 48px
  line-height: 53px

.header
  max-width: 1164px
  margin-bottom: 90px
.wrap
  max-width: 1136px
  margin: 0 auto

.top-menu
  font-size: 18px
  padding: 36px 0
  margin-bottom: 76px
  &_list
    a
      color: rgba(0, 0, 0, 0.6)
      text-decoration: none
  &_search
    img
      width: 23px
      height: auto
    a
      text-decoration: none

.page-desc
  margin-top: 18px
  margin-bottom: 25px
  p
    font-size: 24px
    line-height: 32px
    font-weight: 500
    color: rgba(0, 0, 0, 0.6)

.btn-catalog
  width: 233px
  height: 64px
  border-radius: 8px
  font-size: 18px
  line-height: 47px

.btn-work
  width: 204px
  height: 64px
  border-radius: 8px
  font-weight: 600
  font-size: 18px
  line-height: 47px
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08)
.middle-block
  background-color: #FFF8EE
  padding-top: 116px
  &_title
    margin-bottom: 42px
  p
    font-size: 18px
    line-height: 24px
  .active
    max-width: 233px
    &:hover
      color: $accent-blue
      border-bottom: 2px solid $accent-blue
  &_prof
    margin-bottom: 85px
  &_step
    font-size: 24px
    font-weight: 600
  &__position
    margin-bottom: 66px

.video-block
  height: 639px
  width: 100%
  margin: 0 auto 120px
.feedback-block
  padding-top: 120px
  margin: 0 auto
  &_title
    max-width: 698px
    margin: 0 auto 74px
  &_desc
    font-size: 24px
    line-height: 32px
    margin-top: 24px
  &_bg
    margin-top: 149px
.feedback-content
  padding: 39px 23px 28px 32px
  max-width: 343px
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08)
  border-radius: 16px
  p
    font-size: 24px
    line-height: 30px


.feedback-ava
  margin-top: 17px
  margin-left: 22px

  &_name
    font-size: 18px
    font-weight: 600
    margin-bottom: 0
.benefits-block
  background-color: $accent-blue
  padding-bottom: 120px
  &_title
    margin: 120px auto 56px
    color: #FFF
  &_protection
    height: 280px
    max-width: 552px
    border-radius: 16px
    background-color: #fff

    img
      border-radius: 16px
      align-self: flex-end
      height: 100%
    .card-img-overlay
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 2rem
    .card-title
      max-width: 250px
      font-size: 32px
      line-height: 36px
      font-weight: 600
    .card-text
      font-size: 18px
  &_print
    border-radius: 16px
    background-color: #FAD192
    height: 280px
    max-width: 552px
    img
      border-radius: 16px
      align-self: flex-end
      height: 100%
    .card-img-overlay
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 2rem
    .card-title
      max-width: 250px
      font-size: 32px
      line-height: 36px
      font-weight: 600
    .card-text
      font-size: 18px
#slider
  margin: 16vh auto
  min-width: 0
  max-width: 1136px
.slider_title
  margin-top: 32vh
.slider-card
  background-color: #fff
  height: 364px
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08)
  border-radius: 16px
  &_desc
    position: relative
    padding-left: 20px
  &_ava
    width: 80px
    border: 2px solid #FFF
    border-radius: 50%
    position: absolute
    bottom: 93px
    left: 20px
  &_author
    margin-top: 28px
    font-weight: 600
  &_work
    font-size: 18px
